.counterContainer {
  display: flex;
  align-items: center;
  width: 200px;
  height: 58px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  flex-shrink: 0;
}

.counterContainer button {
  height: 100%;
  width: 58px;
  font-weight: 600;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 6px;
  color: #dddddd;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.counterContainer button:hover {
  background-color: #dddddd;
}

.counterContainer > *:first-child {
  border-right: 1px solid #dddddd;
  position: relative;
}

.counterContainer > *:last-child {
  border-left: 1px solid #dddddd;
  position: relative;
}

.quantityInput {
  width: 86px;
  text-align: center;
  border: none;
  background: none;
  font-size: 18px;
  height: 55px;

  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
